{{#each _content}}
{{#if markdown}}
<div>
{{{marked text}}}
</div>
{{/if}}

{{#if embed_video}}
<div class="embed youtube">
{{{service.pre}}}{{url}}{{{service.post}}}
</div>
{{/if}}

{{#if image}}
<img src="{{href}}" class="{{#each style.position.classes}}{{this}} {{/each}}{{#each style.size.classes}}{{this}} {{/each}}" />
{{/if}}

{{/each}}