{{#each _content}} 
{{#if markdown}}
<div class="{{>loadclasses}}">
    {{{marked text}}}
</div>
{{/if}} 

{{#if header}}
<div class="header{{>loadclasses}}">
    {{{header}}}
</div>
{{/if}}

{{#if embed_video}}
<div class="embed youtube">
    {{{service.pre}}}{{url}}{{{service.post}}}
</div>
{{/if}} 

{{#if embedded_video}}
<div class="embed local">
    <video controls>
        {{#each sources}}
        <source src="{{url}}" type="{{type}}" />
        {{/each}}
    </video>
</div>
{{/if}}

{{#if image}}
<img src="{{href}}" class="{{>loadclasses}}"
/> 
{{/if}} 

{{#if card}}
<div class="card">
    <div class="top" {{#if img.image}}style="background-image: url({{img.image}});"{{/if}}>
        <div class="title">{{txt.title}}</div>
    </div>
    <div class="bottom">
        <div class="caption">{{txt.caption}}</div>
        <div class="text">{{{marked txt.text}}}</div>
    </div>
</div>
{{/if}}

{{#if cards}}
{{#each cards}}
    <div class="card">
        <div class="top" {{#if image}}style="background-image: url({{image}});"{{/if}}>
            <div class="title">{{title}}</div>
        </div>
        <div class="bottom">
            <div class="caption">{{caption}}</div>
            <div class="text">{{{marked text}}}</div>
        </div>
    </div>
{{/each}}
{{/if}}

{{#if team_member}}
<div class="teamMember">
    <div class="aside">
        <div class="image" style="background-image: url({{pics.image}})"></div>
    </div>
    <div class="main">
        <div class="name">{{bio.name}}</div>
        <div class="title">{{bio.title}}</div>
        <div class="bio">{{{marked bio.biography}}}</div>
    </div>
</div>
{{/if}}

{{#if news_link}}
    <div class="newsLink">
        {{#if image}}<img src="{{image}}">{{/if}}
        <a href="{{url}}" target="_blank">{{headline}}</a>
        <div class="summary">{{{marked summary}}}</div>
        <div class="source">{{source}}</div>
        <div class="date">{{article_date}}</div>
    </div>
{{/if}}

{{#if spacer}}
    <div style="height: {{spacer}}" ></div>
{{/if}}

{{/each}} 
