{{#unless first}}
<div class="bigbutton">
    <a href="{{prev_page}}">
        Newer 
    </a>
</div>
{{/unless}}
{{#each this.entries}}
<div class="entry blog">
    <a href="/news/{{page_slug}}"><span class="title">{{content._blog.title}}</span></a>
    <span class="teaser">{{{marked content._blog.stub.teaser}}}</span>
    <span class="date">{{content._blog.publishing.date}}</span>
</div>
{{/each}}
{{#unless last}}
<div class="bigbutton">
    <a href="{{next_page}}">
        Older 
    </a>
</div>
{{/unless}}