<!DOCTYPE html>
<html>

<head>
    <title>{{global.site.title}}{{#if _page.title}} - {{_page.title}}{{/if}}</title>
    {{#if _page.styling.theme.stylesheets}} {{#each _page.styling.theme.stylesheets}} {{#if src}}
    <link rel="stylesheet" href="{{src}}">{{/if}} {{#if cascadingstylesheet}}
    <link rel="stylesheet" href="{{cascadingstylesheet}}">{{/if}} {{/each}} {{else}} {{#each global.styling.page_styles.standard.stylesheets}} {{#if src}}
    <link rel="stylesheet"
        href="{{src}}">{{/if}} {{#if cascadingstylesheet}}
    <link rel="stylesheet" href="{{cascadingstylesheet}}">{{/if}} {{/each}} {{/if}}
    {{>seo}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>

<body>
    <nav class="fix-to-top">
    <div class="logo">
        <a href="/">
        <svg viewBox="0 0 194.887 49">
            <use xlink:href="/assets/img/logo.svg#excirlogo" />
        </svg>
        </a>
        <div class="item no-highlight">
            
        </div>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="menu">
        <div class="start">
        </div>
        <div class="end">
            {{#navlist 'main'}} {{#each this}} {{#if subgroup}}
            <div class="item has-dropdown is-hoverable">
                <a class="link" {{#if url}}href="{{url}}" {{/if}}>
                    {{label}}
                </a>
                <div class="dropdown">
                    {{#navlist subgroup}} {{#each this}}
                    <a class="item" {{#if url}}href="{{url}}" {{/if}}>
                        {{label}}
                    </a> {{/each}} {{/navlist}}
                </div>
            </div>
            {{else}}
            <a class="item" {{#if url}}href="{{url}}" {{/if}}>
                {{label}}
            </a> {{/if}} {{/each}} {{/navlist}}
        </div>
    </div>
</nav>
    <main>

        <article>
            
            <header>
                {{#if _page.title}}
                <div>
                    {{_page.title}}
                </div>
                {{/if}} {{#if _blog.title}}
                <div>
                    {{_blog.title}}
                </div>
                {{/if}}
            </header>
            
            <div class="goldWidget">

            </div>
            <section>
                {{>@partial-block}} {{>_sections}}
            </section>
        </article>
        <footer>
            {{{marked global.site.footer}}}
        </footer>
    </main>

</body>
<script data-main="/assets/js/main.js" src="/assets/js/require.js"></script>
{{#if _page.styling.theme.stylesheets}} {{#each _page.styling.theme.stylesheets}} {{#if javascript}}
<script src="{{javascript}}"></script>{{/if}} {{/each}} {{else}} {{#each global.styling.page_styles.standard.stylesheets}} {{#if javascript}}
<script src="{{javascript}}"></script>{{/if}} {{/each}} {{/if}}

</html>