{{#>wrapper}}
<form name="emailContact" method="post" action="/email/send/">
    <input type="text" name="getit">
    <input id="formName" type="text" name="name" placeholder="Full Name">
    <input id="formCompany" type="text" name="company" placeholder="Your Company" >
    <input id="formEmail" type="email" name="replyEmail" placeholder="Your Contact Email" >
    <input id="formPhonenumber" type="text" name="phoneNumber" placeholder="Your Phone Number" >
    <select name="formSubject" id="category">
        {{#each global.contact.correspond.email}}
        <option value="{{subject}}">{{subject}}</option>
        {{/each}}
    </select>
    <textarea id="formMessage" name="message" placeholder="What do you think?"></textarea>
    <input type="submit" value="Send Email!">
    <div class="g-recaptcha" data-sitekey="6LdRFkgUAAAAAM7oyHyDIiLso4Lqdql2eNNKy76F"></div>
</form>
<iframe
    class="googlemaps"
  width="100%"
  height="50%"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q={{global.contact.address.address}},{{global.contact.address.city}},{{global.contact.address.region}},{{global.contact.address.country}}&attribution_source=Excir+Works&attribution_web_url=http://www.excirworks.com/&attribution_ios_deep_link_id=comgooglemaps://?daddr={{global.contact.address.address}},{{global.contact.address.city}},{{global.contact.address.region}},{{global.contact.address.country}}&key={{global.keys.google_maps_embed_api}}" allowfullscreen>
</iframe>
{{/wrapper}}