<link rel="stylesheet" href="/assets/css/navigation_betas.css" />
<nav class="test1" id="test1">
    <div class="logo">
        <svg viewBox="0 0 194.887 49">
            <use xlink:href="/assets/img/logo.svg#excirlogo" />
        </svg>
        <div class="item no-highlight">
            <svg class="goldWidget" viewBox="0 0 100 60">
                <text x="0" y="10">Gold</text>
                <text x="0" y="25">Platinum</text>
                <text x="0" y="40">Palladium</text>
                <text text-anchor="end" x="100" y="10" class="AU-Price"></text>
                <text text-anchor="end" x="100" y="25" class="PT-Price"></text>
                <text text-anchor="end" x="100" y="40" class="PD-Price"></text>
            </svg>
        </div>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="menu">
        <div class="start">
        </div>
        <div class="end">
            {{#navlist 'main'}} {{#each this}} {{#if subgroup}}
            <div class="item has-dropdown is-hoverable">
                <a class="link" {{#if url}}href="{{url}}" {{/if}}>
                    {{label}}
                </a>
                <div class="dropdown">
                    {{#navlist subgroup}} {{#each this}}
                    <a class="item" {{#if url}}href="{{url}}" {{/if}}>
                        {{label}}
                    </a> {{/each}} {{/navlist}}
                </div>
            </div>
            {{else}}
            <a class="item" {{#if url}}href="{{url}}" {{/if}}>
                {{label}}
            </a> {{/if}} {{/each}} {{/navlist}}
        </div>
    </div>
</nav>

<div style="height:3em;"></div>

<nav class="test1" id="test2">
    <div class="logo">
        <svg viewBox="0 0 50 49">
            <use xlink:href="/assets/img/logo.svg#excirTree" transform="translate(-72,3)" />
        </svg>
        <a class="item no-highlight big-text">
                Excir Works
            </a>
        <div class="item no-highlight">
            <svg class="goldWidget" viewBox="0 0 100 60">
                <text x="0" y="10">Gold</text>
                <text x="0" y="25">Platinum</text>
                <text x="0" y="40">Palladium</text>
                <text text-anchor="end" x="100" y="10" class="AU-Price"></text>
                <text text-anchor="end" x="100" y="25" class="PT-Price"></text>
                <text text-anchor="end" x="100" y="40" class="PD-Price"></text>
            </svg>
        </div>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="menu">
        <div class="start">

        </div>
        <div class="end">
            {{#navlist 'main'}} {{#each this}} {{#if subgroup}}
            <div class="item has-dropdown is-hoverable">
                <a class="link">
                    {{label}}
                </a>
                <div class="dropdown">
                    {{#navlist subgroup}} {{#each this}}
                    <a class="item">
                        {{label}}
                    </a> {{/each}} {{/navlist}}
                </div>
            </div>
            {{else}}
            <a class="item">
                {{label}}
            </a> {{/if}} {{/each}} {{/navlist}}

        </div>
    </div>
</nav>

<script data-main="/assets/js/main.js" src="/assets/js/require.js"></script>